<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="pingdomAPI:Version" value="2.0" />
    <add key="pingdomAPI:BaseUrl" value="https://api.pingdom.com/api/{0}/" />
    <add key="pingdomAPI:AppKey" value="8gofngoojyhtc16t4q0b1sflrt2czq4b" />
    <add key="pingdomAPI:UserName" value="alertawebstore@vtex.com.br" />
    <add key="pingdomAPI:Password" value="vtexonline1" />
  </appSettings>
</configuration>