<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="pingdom:BaseUrl" value="https://api.pingdom.com/api/2.0/" />
    <add key="pingdom:AppKey" value="{enter your appKey}" />
    <add key="pingdom:UserName" value="{enter your userName}" />
    <add key="pingdom:Password" value="{enter your password}" />
    <add key="pingdom:AccountEmail" value="{Account Email for Team Accounts}" />
  </appSettings>
</configuration>