<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="pingdom:BaseUrl" value="https://api.pingdom.com/api/2.0/" />
    <add key="pingdom:AppKey" value="8gofngoojyhtc16t4q0b1sflrt2czq4b" />
    <add key="pingdom:UserName" value="alertawebstore@vtex.com.br" />
    <add key="pingdom:Password" value="vtexonline1" />
  </appSettings>
</configuration>