<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="pingdom:BaseUrl" value="https://api.pingdom.com/api/2.0/" />
    <add key="pingdom:AppKey" value="{AppKey}" />
    <add key="pingdom:UserName" value="{UserName}" />
    <add key="pingdom:Password" value="{Password}" />
  </appSettings>
</configuration>